<app-painel-esquerdo [menuSelecionado]="rota"></app-painel-esquerdo>
<div class="lista">
    <input type="text" placeholder="Artistas ou Musica" (input)="buscar($event)" [(ngModel)]="campoPesquisa"
        class="mt-4">

    <div *ngIf="campoPesquisa.length > 0">
        <div class="titulos mt-4">
            <div class="titulo-1">
                <span>Melhor resultado</span>
            </div>
            <div class="titulo-2">
                <span>Melhor Musica</span>
            </div>
        </div>

        <div class="container-resultado mt-2 flex">
            <div class="melhor-resultado" (click)="executarMusica(melhorResultado)">
                <div class="botaoPlay">
                    <fa-icon [icon]="iconePlay"></fa-icon>
                </div>
                <div class="imagem">
                    <img [src]="melhorResultado.album.imagemUrl">
                </div>
                <div class="titulo-melhor-resultado mt-2">
                    <span>{{melhorResultado.titulo}}</span>
                </div>
                <div class="artistas mt-2">
                    {{ definirArtistas(melhorResultado)}}
                </div>
            </div>

            <div class="musicas">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let musica of musicas" (click)="executarMusica(musica)">
                            <td style="width: 50px;"><img class="imagem-musicas" [src]="musica.album.imagemUrl"></td>
                            <td class="w-60"><span class='titulo'>{{ musica.titulo }}</span>{{definirArtistas(musica)}}
                            </td>
                            <td class="direita w-10">{{ musica.tempo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="titulo-md mt-6">
            Artista
        </div>


        <div class="listaArtista mt-1">
            <swiper [config]="swiperConfig">
                <ng-template swiperSlide *ngFor="let artista of artistas">
                    <app-card-artista (click)="acessarArtista(artista.id)" [nome]="artista.nome"
                        [imagemUrl]="artista.imagemUrl"></app-card-artista>
                </ng-template>
            </swiper>
        </div>

        <div class="titulo-md mt-6">
            Álbuns
        </div>

        <div class="listaArtista">
            <swiper [config]="swiperConfig">
                <ng-template swiperSlide *ngFor="let albuns of album">
                    <app-card-artista (click)="irParaAlbum(albuns.id)" [nome]="albuns.nome" (click)="executarPlaylist(albuns.uri)"
                        [imagemUrl]="albuns.imagemUrl"></app-card-artista>
                </ng-template>
            </swiper>
        </div>

        <div class="titulo-md mt-6">
            Playlists
        </div>

        <div class="listaArtista">
            <swiper [config]="swiperConfig">
                <ng-template swiperSlide *ngFor="let playlist of playlists">
                    <app-card-artista (click)="irParaPlaylist(playlist.id)" [nome]="playlist.nome" (click)="executarPlaylist(playlist.uri)"
                        [imagemUrl]="playlist.imagemUrl"></app-card-artista>
                </ng-template>
            </swiper>
        </div>
        <br><br>

    </div>
</div>
<app-painel-direito></app-painel-direito>