:host{
    display: flex;
    justify-content: space-between;

    .lista{
        margin-bottom: 40px;
    }

    .listaArtista{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

    .painel-direito{
        height: 100vh;
    }

}
