.card{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    .image{
        justify-self: flex-start;
        img{
            width: 170px;
            height: 170px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #0000004d;
        }
    }

    @media(max-width: 1500px){
        .artista{
            font-size: 1.2rem;

            .descricao{
                font-size: .8rem;
                margin-top: 5px;
            }
        }
    }

    .artista{
        margin-left: 2rem;
        color: #37AB00;
        flex-direction: column;

        .descricao{
            color: #0000004d;
        }
    }

    span{
        justify-self: center;
        color: #37AB00;
    }
}