:host{
    display: flex;
    justify-content: space-between;


    .minhas-musicas{
        padding: 0px 50px;
        padding-bottom: 20px;
        width: 100%;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .painel-direito{
        height: 100%;
    }

    .d-block{
        display: block;
    }

    .table{
        width: 100%;
        text-align: left;
        table-layout: fixed;
        border-collapse: separate;
    }

    .play{
        color: #37AB00;
        font-size: .5rem;
    }

    thead th{
        font-size: .75rem;
        font-weight: 600;
        color: #0000004D;
    }

    th, td {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:nth-child(1){
            padding-left: 10px;
        }
    }

    tr{
        &:hover{
            cursor: pointer;

            td{
                color: #37AB00;
            }
        }
    }

    td{
        padding: 10px 20px 10px 0px;
        margin-top: 10px;
        font-weight: 500;
        font-size: .85rem;
        color: #00000091;

        &:nth-child(1){
            padding-left: 10px;
        }
    }

    .w{
        @for $i from 1 to 10{
            $width: $i * 5;

            &-#{ $width }{
                width: #{ $width * 1%};
            }
        }
    }

    .direita{
        text-align: right;
    }

        
}