<div class="minhas-musicas">
    <span class="titulo-bg mt-4">
        Seu Top Artistas
    </span>

    <app-top-artista class="mt-2 d-block"></app-top-artista>

    <span class="titulo-bg mt-4">
        Musicas Curtidas
    </span>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Artistas</th>
                <th>Tempo</th>
                <th>Album</th>
            </tr>
        </thead>
    </table>
</div>

<div class="painel-direito">
    <app-painel-direito></app-painel-direito>
</div>