:host {
    input{
        width: 100%;
        padding: 10px 5px;
        border-radius: 8px;
        border: 1px solid;
        border-color: #0000004d;
        outline: none;
        color: #37AB00;
        font-size: 1rem;
        font-weight: 500;

        &::placeholder{
            color: #0000004d;
            font-size: .85rem;
        }

        &:focus, &:active{
            border-color: #37AB00;
            border-width: 2px;
        }
    }

    .sugestoes{
        flex-wrap: wrap;

        span{
            background-color: #fff;
            margin-right: 5px;
            padding: 5px 10px;
            color: #00000070;
            border: 1px solid #0000004d;
            margin-top: 10px;
            font-size: .9rem;
            border-radius: 20px;
            cursor: pointer;

            &:hover{
                background-color: #37AB00;
                color: #fff;
            }
        }
    }

}