/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Slab:wght@900&display=swap');
@import 'variaveis.scss';

html, body{
    margin: 0;
    padding: 0;
    background-color: $corFundo;
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.flex{
    display: flex;

    &-center{
        justify-content: center;
        align-items: center;
    }
}

.titulo{
    color: $cor-primaria;
    display: block;
    font-weight: bold;

    &-bg{
        @extend .titulo;
        font-size: 2.2rem
    }

    &-md{
        @extend .titulo;
        font-size: 1.4rem;
    }
}

.mt{
    &-1{
        margin-top: 1vh;
    }
    &-2{
        margin-top: 2vh;
    }
    &-3{
        margin-top: 3vh;
    }
    &-4{
        margin-top: 4vh;
    }
    &-5{
        margin-top: 5vh;
    }
}

.p-20{
    padding: 20px;
}

.card{
    box-shadow: 0px 0px 15px #00000008;
    background-color: #fff;
    border-radius: 10px;
}